@import "tailwindcss";


  :root {
    --background: #ffffff;
    --foreground: #171717;
    color-scheme: light;
  }


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
